/* importing font from google "Roboto(Regular 400)" */
@import url('https://fonts.googleapis.com/css2?family=REM&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
}

:root {
    --orange: #cf6916ec;
    --color1: #fff;
    --color2: #181818;
    --blue: #134745;
    --yellow: #F9DB6D;
    --white: #f1f1f1;
    --grey: #e5e5e5;
}

#Recipe-list-h1 {
    text-align: center;
}

/* header section */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.logo img {
    width: 40px;
}
.menu {
    display: flex;
}
.menu li {
    padding-left: 30px;
}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--orange);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
    width: 100%;
}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {
    display: none;
}
@media(max-width: 750px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.3s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding: 10px;
    }
    .open-menu , .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
}
/* header ends here */

li,
a,
.Button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.Button {
    margin-left: 20px;
    padding: 10px 25px;
    background-color: var(--white);
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.Button:hover {
    background-color: var(--yellow);
}

Main {
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

#welcome {
    padding: 10px;
    margin: 10px;
    margin-left: 12%;
}

.app-description {
    margin: 10px;
}

.app-description img {
    margin-top: 20px;
    max-width: 250px;
    float: right;
}

.text-description h1 {
    font-size: 42px;
}

.text-description p {
    font-size: 26px;
}

.cta-button {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: var(--orange);
    background-color: white;
    border: 1px solid var(--orange);
    padding: 10px 20px;
    border-radius: 9px;
    margin-right: 10px;
}

.cta-button {
    margin: 5px;
}

.cta-button:hover {
    color: white;
    background-color: var(--orange);
}

#Recipe-list-h1 {
    text-align: center;
    margin-bottom: 10px;
}

/* Recipe_list section */
#Recepe_list_Main {
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    max-width: 95%; /* Adjust the max-width to your desired width */
    margin: 0 auto; /* Center the content horizontally */
}

.Main-list-section {
    /* display: flex */
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.recipes-category {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.recipes-category button {
    margin: 5px;
}

.post-collection {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.post-main-container {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* kitchen tips section */
#tips-hero {
    padding: 50px;
    display: block;
}

.Main-article {
    padding: 5px;
    display: flex;
    font-size: 20px;
}

.Sub-article {
    display: flex;
    padding: 5px;
}
.hero-list-section{
    /* background-color: rebeccapurple; */
    width: 60%;
    padding: 30px;
    margin-left: 100px;
}
.line{
    margin-top: 10px;
    color: #cf6916ec;
    margin-bottom: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
/* button css for add.php Go to Receipe button*/
.go-back {
    display: inline-block;
    padding: 6px 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.go-back:hover {
    background-color: #0056b3;
}

/* footer section */
.footer-section {
    background-color: var(--grey);
    width: 100vw;
    position: sticky;
    top: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
}

.socials a i {
    font-size: 1.5rem;
}
.fa-facebook-f:hover{
    color: blue;
}
.fa-x-twitter:hover{
    color: #08a0e9;
}
.fa-instagram:hover{
    color: #EF426F;
}
.fa-youtube:hover{
    color: red;
}
#footer-copyright {
    background: var(--grey);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

#footer-copyright p {
    background: white;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
}
/* fotter ends here */

/* change according to screen */
@media (min-width: 576px) {
    .img-box {
        width: 100%;
        /* Adjust width for small screens */
        height: auto;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .post-main-container {
        max-width: 90%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .img-box {
        width: 200px;
        height: 150px;
    }

    .cta-button {
        font-size: 20px;
    }

}

@media (max-width:450px) {

    .container .heading {
        font-size: 25px;
    }

    .container .box-container {
        grid-template-columns: 1fr;
    }

    .container .box-container .box .image {
        height: 200px;
    }

    .container .box-container .box .content p {
        font-size: 12px;
    }

    .container .box-container .box .content .icons span {
        font-size: 12px;
    }
}


